<!DOCTYPE html>
<html>

<head th:include="fragments/header :: head(title='SB Admin 2 - Forms')">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Create New Product</title>
</head>
<body>

<div  class="container" >

<div  class="row" >

	<div th:replace="fragments/header :: header">&nbsp;</div>
	
	<div  class="col-sm-1" >
          <div class="verticalline"></div>
        
        </div>

		<div  class="col-sm-8" >
	
   			 <div class="container ">
	
			
			
				<form action="#" th:action="@{/crudsave}" th:object="${product}"  method="post">
		
					<h1> Edit Product  </h1>
					<br /> 
					 <div  class="form-group row">
					 
					 	<label for="id" class="col-sm-2 col-form-label">Product ID: </label>
					 	 <div class="col-sm-5">
					 	 	<input type="text" th:field="*{prodId}" readonly="readonly" />
					 	 </div>
						
					 </div>
					
					 <div class="form-group row">
					 		<label for="name" class="col-sm-2 col-form-label">Product Name: </label>
					 		 <div class="col-sm-5">
					 	 		<input type="text" th:field="*{name}" />
					 		 </div>
							
					  </div>
					  
					   <div class="form-group row">
					   		<label for="brand" class="col-sm-2 col-form-label">Brand:  </label>
					   		 <div class="col-sm-5">
					 	 		<input type="text" th:field="*{brand}" />
					 		 </div>
							
					  </div>
					  
					  
					   <div class="form-group row">
					   		<label for="madein" class="col-sm-2 col-form-label">Made In: </label>
					   		 <div class="col-sm-5">
					 	 		<input type="text" th:field="*{madein}" />
					 		 </div>
							
					  </div>
					  
					  
					   <div class="form-group row">
					   		<label for="price" class="col-sm-2 col-form-label">Price: </label>
					   		 <div class="col-sm-5">
					 	 		<input type="text" th:field="*{price}" />
					 		 </div>
							
					  </div>
					  
					   <div class="form-group row">
					    	<div class="col-sm-5">
					 	 		<button type="submit" class="btn btn-primary">Save</button>
					 		 </div>
							
					  </div>
					  
				</form>
			

		</div>
		<!-- /#page-wrapper -->

</div>
 </div>

</div>
<!-- /#container -->

</body>
</html>