<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Inscription OC-Bibliothèque</title>
  </head>

  <body>
    <div class="container-fluid px-0">
      <div th:replace="Header :: header"></div>
      <div
        style="max-width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;"
      >
        <div class="card">
          <div class="card-header"><h2>Inscription</h2></div>
          <div class="card-block" style="padding: 24px;">
            <form
              name="fi"
              th:action="@{/registration}"
              th:object="${user}"
              method="post"
            >
              <fieldset>

                <!-- Errors messages -->

                <div
                  th:each="error: ${#fields.errors('firstName')}"
                  th:text="${error}"
                  class="alert alert-danger mb-2"
                >
                  Validation error firt name
                </div>

                <div
                  th:each="error : ${#fields.errors('lastName')}"
                  th:text="${error}"
                  class="alert alert-danger mb-2"
                >
                  Validation error last name
                </div>

                <div
                  th:each="error : ${#fields.errors('email')}"
                  th:text="${error}"
                  class="alert alert-danger mb-2"
                >
                  Validation error email
                </div>

                <div
                   th:each="error : ${#fields.errors('password')}"
                    th:text="${error}"
                  class="alert alert-danger mb-2"
                >
                  Validation error password
                </div>

                <div
                   th:each="error : ${#fields.errors('matchingPassword')}"
                    th:text="${error}"
                  class="alert alert-danger mb-2"
                >
                  Validation error matchingPassword
                </div>

                <div
                  th:if="${#fields.hasErrors('global')}"
                    th:errors="*{global}"
                  class="alert alert-danger mb-2"
                >
                  Validation error global
                </div>

                <!-- Fields -->

                <!-- Field first name -->
                <div class="form-group">
                  <label th:text="#{label.user.firstName}" for="firstName"
                    >first</label
                  >
                  <input
                    th:field="*{firstName}"
                    type="text"
                    class="form-control"
                    id="firstName"
                  />
                </div>

                <!-- Field last name -->
                <div class="form-group">
                  <label th:text="#{label.user.lastName}" for="lastName"
                    >last</label
                  >
                  <input
                    th:field="*{lastName}"
                    type="text"
                    class="form-control"
                    id="lastName"
                  />
                </div>
                
                <!-- Field email -->
                <div class="form-group">
                  <label th:text="#{label.user.email}" for="emailInput"
                    >Email</label
                  >
                  <input
                    type="email"
                    th:field="*{email}"
                    class="form-control"
                    id="emailInput"
                  />
                </div>

                <!-- Field password -->
                <div class="form-group">
                  <label th:text="#{label.user.password}" for="passwordInput"
                    >password</label
                  >
                  <input
                    type="password"
                    th:field="*{password}"
                    class="form-control"
                    id="paswwordInput"
                  />
                </div>
                
                <!-- Field password confirm -->
                <div class="form-group">
                  <label
                    th:text="#{label.user.confirmPass}"
                    for="passwordConfirmInput"
                    >confirm</label
                  >
                  <input
                    type="password"
                    th:field="*{matchingPassword}"
                    class="form-control"
                    id="passwordConfirmInput"
                  />
                </div>

                <!-- Submit button -->
                <div class="form-actions" style="margin-top: 12px;">
                  <button
                    class="btn btn-success"
                    type="submit"
                    th:text="#{label.form.submit}"
                  >
                    submit
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
