<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerlink">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Application de démo gestion des stocks">
    <meta name="author" content="ThemePixels">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <title>Application de démo gestion des stocks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/mycustomstyle.css">
</head>
<body>
    <div class="colsidebar col-sm-3" th:fragment="header">
    
        <div class="sidebar-header  ">
            <div>
                <a href="/home" class="sidebar-logo"><span>GestionStocks</span></a>
                <small class="sidebar-logo-headline">Application de gestion des stocks</small>
            </div>
        </div>
        <div id="dpSidebarBody" class="sidebar-body">
            <ul class="nav nav-sidebar">
                <li class="nav-label"><label class="content-label">Menus principales</label></li>
                <li class="nav-item">
                    <a th:href="@{/registration}" class="nav-link">
                        <i data-feather="box"></i> Liste des Comptes Users
                    </a>
                </li>
                
                 <li class="nav-item">
                    <a th:href="@{/crudindex}" class="nav-link">
                        <i data-feather="box"></i> Liste des Produits
                    </a>
                </li>
                
                <li class="nav-item">
                    <a th:href="@{/customers}" class="nav-link">
                        <i data-feather="box"></i> Liste des clients
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/search-customer}" class="nav-link">
                        <i data-feather="box"></i> Rechercher un client
                    </a>
                </li>
                <!--li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link">
                        <i data-feather="box"></i> Déconnection
                    </a>
                </li-->
            </ul>
        </div>
        
    </div>
    
  
    <div th:fragment="footerscript">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
</body>
</html>